<%= form_for @user do |f| %>
  <h4>Login info:</h4>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label "Enter your password:" %><br>
  <%= f.password_field :password %><br>
  <%= f.label "Confirm your password:" %><br>
  <%= f.password_field :password_confirmation %><br>
  <br>
  <h4>Your info:</h4>
  <%= f.label :height %><br>
  <%= f.number_field :height %><br>
  <%= f.label :nausea %><br>
  <%= f.number_field :nausea %><br>
  <%= f.label :happiness %><br>
  <%= f.number_field :happiness %><br>
  <%= f.label :tickets %><br>
  <%= f.number_field :tickets %><br><br>
  <%= f.check_box :admin %>
  <%= f.label "Check if you own this theme park" %><br><br>

  <%= f.submit "Sign Up"%><br>

<% end %>
