<h4><%= "Admin" if @user.admin %></h4>

<p>Name: <%= @user.name %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Happiness: <%= @user.happiness %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>

<%= link_to "Edit this user", edit_user_path(@user) %>
