<% if @attraction.errors.any? %>
  <ul>
    <% @attraction.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @attraction do |f| %>
  <h4>Attraction Info:</h4>
  <%= f.label "Name:" %><br>
  <%= f.text_field :name %><br>
  <%= f.label "Tickets Required to Ride" %><br>
  <%= f.number_field :tickets %><br>
  <%= f.label "Minimum Height (inches)" %><br>
  <%= f.number_field :min_height %><br>
  <%= f.label "Nausea Rating" %><br>
  <%= f.number_field :nausea_rating %><br>
  <%= f.label "Happiness Rating" %><br>
  <%= f.number_field :happiness_rating %><br><br>

  <%= f.submit %><br>

<% end %>
